# this file uses prebuilt image in dockerhub
services:
  jekyll:
    image: amirpourmand/al-folio:v0.14.6
    # 如果你本地开发使用 Docker，请保持以下 command 不要注释
    command: >
      bundle exec jekyll serve --host 0.0.0.0 --port 8080 --config _config.yml
    ports:
      - 8080:8080
      - 35729:35729
    volumes:
      - .:/srv/jekyll
    environment:
      - JEKYLL_ENV=development